
  <div class="container col-sm-8 col-md-6">
    <main>
        <div class="text-center mt-4">
          <h1>Sua Plataforma de Reciclagem Metalúrgica</h1>
        </div>

        <div class="container">
          <div class="row align-items-center">
            <h2>Sobre Nós</h2>
            <p class="col-md-7 ">
              Nossa plataforma visa fomentar a economia circular, promovendo o reaproveitamento desses materiais e, assim, contribuindo para a redução do impacto ambiental. Buscamos minimizar a poluição, preservando os ecossistemas terrestres e protegendo a fauna e a flora que dependem de um ambiente saudável.
            </p>
            
            <img src="vendor/bs5.3.3/imgs/DesenhoMetalurgia01.jpg" alt="metalurgia ilustrada" class="img-fluid col-md-5 rounded-5 img-custom float">


            <img src="vendor/bs5.3.3/imgs/Metalurgia02.jpg" alt="metalurgia ilustrada" class="img-fluid col-md-5 rounded-5 img-custom float mt-5 mb-2">
            <p class="col-md-7">
              O desenvolvimento do projeto segue a metodologia de Prototipação, que nos permite iterar continuamente e ajustar a plataforma conforme o feedback dos usuários. Ao longo do processo, temos a oportunidade de integrar conhecimentos adquiridos em diferentes disciplinas e aplicar práticas ágeis, criando uma solução prática e alinhada com as necessidades reais dos nossos usuários.
            </p>

            <p class="mt-3">
                Com este projeto, almejamos não só atender às demandas de uma indústria em crescimento, mas também fazer a nossa parte na construção de um futuro mais responsável e sustentável para todos.
            </p>
          </div>     
        </div>

        <div class="d-flex justify-content-center">
          <a href="cadastro.html"><button class="btn btn-warning mb-3 justify-content-center btn-login">Cadastro</button></a>
        </div>

        <a id="sobrenos"></a>
        <div class="container">
          <div class="row align-items-center">
            <h2>Sobre Nós</h2>
            <p class="col-md-6">
                Somos um grupo de alunos do curso de Desenvolvimento de Software Multiplataforma da Fatec Matão Luiz Marchesan, comprometidos com a criação de soluções tecnológicas que contribuem para a sustentabilidade e preservação do meio ambiente. Nosso projeto foi inspirado pelos Objetivos de Desenvolvimento Sustentável da ONU, em particular os relacionados ao "Consumo e Produção Responsável" e "Vida Terrestre". Ao identificar o impacto negativo do descarte inadequado de resíduos metálicos nas empresas, decidimos desenvolver uma plataforma digital que conecta empresas metalúrgicas que necessitam de metais a empresas que descartam resíduos metálicos.
            </p>
            <img src="vendor/bs5.3.3/imgs/img_metalurgia02.jpg" alt="" class="img-fluid img-custom rounded-5 shadow-lg">
          </div>     
        </div>


        <div class="container mt-2">
          <div class="row align-items-center">
            <h2>Se interessou ? Cadastre-se</h2>
            <div class="d-flex justify-content-center mt-3">
              <a href="cadastro.html"><button class="btn btn-warning mb-3 justify-content-center btn-login">Cadastro</button></a>
            </div>
          </div>     
        </div>
      
    </main>
  </div>
